Makefile
.deps/
*.log
*.status
*.gmo

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
client/tegclient
robot/tegrobot
server/tegserver

# Debug files
*.dSYM/

# Translation
po/teg.pot

# Other files
docs/gnome-help/C/omf_timestamp
docs/gnome-help/pl/omf_timestamp
intltool-update
libtool
po/Makefile.in